@model LaptopSales13.Models.LoginViewModel

@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Layout/_Index.cshtml";
}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->
    <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
        <div class="card-body">
            <h4 class="card-title mb-4">ĐĂNG NHẬP</h4>
            @using (Html.BeginForm("LogIn", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <form>
                    <a href="#" class="btn btn-facebook btn-block mb-2"> <i class="fab fa-facebook-f"></i> &nbsp  Sign in with Facebook</a>
                    <a href="#" class="btn btn-google btn-block mb-4"> <i class="fab fa-google"></i> &nbsp  Sign in with Google</a>
                    <div class="form-group">
                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập username ..." } })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập password ..." } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div> <!-- form-group// -->

                    <div class="form-group">
                        <a href="#" class="float-right">Quên mật khẩu?</a>
                        <label class="float-left custom-control custom-checkbox"> <input type="checkbox" class="custom-control-input" checked=""> <div class="custom-control-label"> Remember </div> </label>
                    </div> <!-- form-group form-check .// -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Đăng nhập  </button>
                    </div> <!-- form-group// -->
                </form>
            }
            @ViewBag.Fail

        </div> <!-- card-body.// -->
    </div> <!-- card .// -->

    <p class="text-center mt-4">Bạn chưa có tài khoản? <a href="@Url.Action("Register", "Account")"><strong>Đăng ký</strong></a></p>
    <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
