@using LaptopSales13.Models
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<Product>

<!-- Breadcrumb -->
<nav class="flex-fill">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.CateName</li>
    </ol>
</nav>
<!-- Breadcrumb -->


<section class="padding-bottom">
    <header class="section-heading">
        <h2 class="section-title">@ViewBag.CateName</h2>
    </header><!-- sect-heading -->
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-2"><strong>Chọn theo khoảng giá:</strong></div> <!-- col.// -->
                <div class="col-md-10">
                    <ul class="list-inline">
                        <li class="list-inline-item pr-4"><a href="#">Dưới 15 triệu</a></li>
                        <li class="list-inline-item pr-4"><a href="#">Từ 15-25 triệu</a></li>
                        <li class="list-inline-item pr-4"><a href="#">Trên 25 triệu</a></li>
                    </ul>
                </div> <!-- col.// -->
            </div> <!-- row.// -->
            <div class="row">
                <div class="col-md-2"><strong>Chọn theo tiêu chí:</strong></div> <!-- col.// -->
                <div class="col-md-10">
                    <ul class="list-inline">
                        <li class="list-inline-item pr-4 dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Thương hiệu </a>
                            <ul class="dropdown-menu p-3" style="max-width:400px;">
                                <li><a class="dropdown-item" href="#">ASUS</a></li>
                            </ul> <!-- dropdown-menu.// -->
                        </li>
                        <li class="list-inline-item pr-4 dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> CPU </a>
                            <div class="dropdown-menu p-3" style="max-width:400px;">
                                <a class="dropdown-item" href="#">Intel</a>
                                <a class="dropdown-item" href="#">Ryzen</a>
                            </div> <!-- dropdown-menu.// -->
                        </li>
                        <li class="list-inline-item pr-4 dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> RAM </a>
                            <div class="dropdown-menu p-3" style="max-width:400px;">
                                <a class="dropdown-item" href="#">8GB</a>
                                <a class="dropdown-item" href="#">16GB</a>
                                <a class="dropdown-item" href="#">32GB</a>
                            </div> <!-- dropdown-menu.// -->
                        </li>
                    </ul>
                </div> <!-- col.// -->
            </div> <!-- row.// -->
            <div class="row">
                <div class="col-md-2"><strong>Sắp xếp theo:</strong></div> <!-- col.// -->
                <div class="col-md-10">
                    <ul class="list-inline">                        
                        <li class="list-inline-item pr-4"><a href="#">Giá tăng dần</a></li>
                        <li class="list-inline-item pr-4"><a href="#">Giá giảm dần</a></li>
                        <li class="list-inline-item pr-4"><a href="#">Tên A-Z</a></li>
                    </ul>
                </div> <!-- col.// -->
            </div> <!-- row.// -->
        </div>
    </div>

    <div class="card card-deal p-4">
        <div class="row no-gutters ">
            <div class="col-lg-12">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-3 col-6 mb-2 px-2">
                            <figure class="card-product-grid card-sm">
                                <a href="@Url.Action("Details", "Product", new { id = item.ProductID}, null)" class="img-wrap">
                                    <img src="@item.ImageURL">
                                </a>
                                <div class="text-wrap p-3">
                                    <a href="@Url.Action("Details", "Product", new { id = item.ProductID}, null)" class="title">@item.ProductName</a>
                                    <span class="price text-danger">@(String.Format("{0:N0}", item.Price))&#8363;</span>
                                </div>
                                <div class="d-flex flex-column mb-3">
                                    @if (item.CPU != null)
                                    {
                                        <p class="text-muted">CPU: @item.CPU</p>
                                    }
                                    @if (item.VGA != null)
                                    {
                                        <p class="text-muted">VGA: @item.VGA</p>
                                    }
                                    @if (item.RAM != null)
                                    {
                                        <p class="text-muted">RAM: @item.RAM</p>
                                    }
                                    @if (item.SSD != null)
                                    {
                                        <p class="text-muted">SSD: @item.SSD</p>
                                    }
                                </div>
                                <div class="py-3">
                                    <a href="@Url.Action("AddCart", "Cart", new { id = item.ProductID }, null)" class="btn btn-primary btn-sm rounded-pill"> Mua ngay </a>
                                </div>

                            </figure>
                        </div> <!-- col.// -->
                    }
                </div>
            </div> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- card.// -->
</section>

<div class="clear"></div>
<ul class="pagination justify-content-center" style="margin:20px 0">
    @*<li>
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
        </li>*@
    <li class="page-item">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, category = ViewBag.category }))
    </li>
</ul>
