﻿@using LaptopSales13.Models;
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<Order>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/_Index.cshtml";
}

<!-- Breadcrumb -->
<nav class="flex-fill">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Đơn hàng</li>
    </ol>
</nav>
<!-- Breadcrumb -->

<section class="padding-bottom">
    <div class="container">
        <header class="section-heading">
            <h2 class="section-title">Đơn hàng</h2>
        </header><!-- sect-heading -->

        @foreach (var item in Model)
        {
            <div class="card border border-primary mb-4 shadow-0">
                <div class="card-body pb-0">
                    <header class="d-lg-flex">
                        <div class="flex-grow-1">
                            <h6 class="mb-0">
                                Mã đơn hàng: @item.OrderID <i class="dot"></i>
                                <span class="pl-2 text-success"> @item.Status </span>
                            </h6>
                            <span class="text-muted">Ngày đặt: @String.Format("{0:MM/dd/yyyy}", @item.OrderDate)</span>
                        </div>
                        <div>
                            <a href="@Url.Action("Delete", "Order", new { id = item.OrderID })"
                               onclick="return confirm ('Bạn muốn hủy đơn hàng này?')" class="btn btn-sm btn-outline-danger">Hủy đơn</a>
                            <a href="@Url.Action("Details", new { id = item.OrderID })" class="btn btn-sm btn-primary shadow-0">Xem chi tiết</a>
                        </div>
                    </header>
                    <hr />
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="mb-0 text-muted">Liên hệ</p>
                            <p class="m-0">
                                <span class="col-lg-4">
                                    Họ và tên: @item.Customer.Account.LastName @item.Customer.Account.FirstName
                                </span>
                                <span class="col-lg-4">
                                    Số điện thoại: @item.Customer.Account.PhoneNumber
                                </span>
                                <span class="col-lg-4">
                                    Email: @item.Customer.Account.Email
                                </span>
                            </p>
                        </div>
                        @*<div class="col-lg-4 border-start">
                                <p class="mb-0 text-muted">Shipping address</p>
                                <p class="m-0">
                                    United States <br />
                                    3601 Old Capitol Trail, Unit A-7, Suite 170777, Wilmington, DE 19808
                                </p>
                            </div>*@
                        <!--<div class="col-lg-4 border-start">-->
                        <!--<p class="mb-0 text-muted">Payment</p>
                        <p class="m-0">-->
                        <!--<span class="text-success"> Visa **** 4216 </span> <br />
                                            Phí ship: 0&#8363; <br />
                            Tổng tiền: &#8363;
                        </p>

                                        </div>-->
                    </div>
                    <!--<hr />
                    <ul class="row list-unstyled">-->
                    @*@foreach(var i in )*@
                    <!--<li class="col-xl-4 col-lg-6">
                            <div class="d-flex mb-3 mb-xl-0">
                                <div class="me-3">
                                    <img width="72" height="72" src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/10.webp" class="img-sm rounded border" />
                                </div>
                                <div class="">
                                    <p class="mb-0">T-shirts with multiple colors</p>
                                    <strong> 2x = $25.98 </strong>
                                </div>
                            </div>
                        </li>
                    </ul>-->
                </div>
            </div>
        }


        <div class="clear"></div>
        @if (@Model.PageCount > 1)
        {
            <span>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount </span>
            <div class="div-pagination">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
            </div>
        }
    </div>
</section>