﻿@model PagedList.IPagedList<LaptopSales13.Models.Order>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_IndexAdmin.cshtml";
}

<section class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Order</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li class="breadcrumb-item active">Order</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <p class="pl-3">
        <button class="btn-default">@Html.ActionLink("Thêm mới", "Create")</button>
    </p>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <table class="table table-bordered">
                <tr>
                    <th>OrderID</th>
                    <th>OrderDate</th>
                    <th>Status</th>
                    <th>CustomerName</th>
                    <th>EmployeeID</th>
                    <th>PayType</th>                    
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderID)
                        </td>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.OrderDate)*@
                            @String.Format("{0:MM/dd/yyyy}", @item.OrderDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Customer.Account.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmployeeID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PayType)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.OrderID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.OrderID }) 
                            @*@Html.ActionLink("Xóa", "Delete", new { id = item.OrderID })*@
                        </td>
                    </tr>
                }

            </table>
        </div>
        <!-- Thêm mã phân trang -->

        <div class="pt-lg-4">
            <p class="float-left">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</p>

            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>

        <!-- Kết thúc -->
    </section>
</section>
