@using LaptopSales13.Models;
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Layout/_Index.cshtml";
}

@{
    var u = Session["use"] as LaptopSales13.Models.Account;
}

<!-- Breadcrumb -->
<nav class="flex-fill">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Cart")">Giỏ hàng</a></li>
        <li class="breadcrumb-item active" aria-current="page">Thông tin đặt hàng</li>
    </ol>
</nav>
<!-- Breadcrumb -->


@using (Html.BeginForm("ProcessOrder", "Cart", FormMethod.Post, new { id = "customer-form" }))
{
    <input type="hidden" id="momoSelected" name="momoSelected" value="false" />
    <section class="section-content padding-y">
        <div class="container">
            @if (u != null)
            {
                <div class="row">
                    <div class="col-xl-8 col-lg-8 mb-4">

                        <!-- Checkout -->
                        <div class="card shadow-0 border">
                            <div class="p-4">
                                <h5 class="card-title mb-3">Thông tin khách hàng</h5>
                                <div class="row">
                                    <div class="col-6 mb-3">
                                        <p class="mb-0">Họ và tên đệm</p>
                                        <div class="form-outline">
                                            <input type="text" id="typeText" name="lastName" class="form-control" value="@u.LastName" />
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <p class="mb-0">Tên</p>
                                        <div class="form-outline">
                                            <input type="text" id="typeText" name="firstName" class="form-control" value="@u.FirstName" />
                                        </div>
                                    </div>

                                    <div class="col-6 mb-3">
                                        <p class="mb-0">Số điện thoại</p>
                                        <div class="form-outline">
                                            <input type="tel" id="typePhone" name="phone" value="+84 " class="form-control" value="@u.PhoneNumber" />
                                        </div>
                                    </div>

                                    <div class="col-6 mb-3">
                                        <p class="mb-0">Email</p>
                                        <div class="form-outline">
                                            <input type="email" id="typeEmail" name="email" placeholder="example@gmail.com" class="form-control" value="@u.Email" />
                                        </div>
                                    </div>

                                    <div class="col-12 mb-3">
                                        <p class="mb-0">Địa chỉ</p>
                                        <div class="form-outline">
                                            <input type="text" id="typeAddress" name="address" class="form-control" value="@u.Address" />
                                        </div>
                                    </div>
                                </div>

                                <hr class="my-4" />

                                <h5 class="card-title mb-3">Chọn hình thức nhận hàng</h5>

                                <div class="row mb-3">
                                    <div class="col-lg-6 mb-2">
                                        <!-- Default checked radio -->
                                        <div class="form-check h-100 border rounded-3">
                                            <div class="p-3">
                                                <div class="p-3">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="ghtn" />
                                                    <label class="form-check-label" for="flexRadioDefault1">
                                                        Giao hàng tận nơi <br />
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-2">
                                        <!-- Default radio -->
                                        <div class="form-check h-100 border rounded-3">
                                            <div class="p-3">
                                                <div class="p-3">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="ntch" />
                                                    <label class="form-check-label" for="flexRadioDefault2">
                                                        Nhận sản phẩm tại cửa hàng <br />
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row htnh" id="ntch" style="display: none">
                                    <div class="col-sm-12 mb-2">
                                        <strong class="mb-1">Quý khách vui lòng đến 371 Nguyễn Kiệm, Gò Vấp để nhận hàng </strong>

                                    </div>
                                    <div class="col-sm-12 mb-2">
                                        <div class="form-outline">
                                            <input type="text" id="typeText" placeholder="Nhập ghi chú nếu có" class="form-control" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row htnh" id="ghtn" style="display: none">
                                    <div class="col-sm-12 mb-2">
                                        <p class="mb-0">Ghi chú</p>
                                        <div class="form-outline">
                                            <input type="text" id="typeText" placeholder="Nhập ghi chú nếu có" class="form-control" />
                                        </div>
                                    </div>
                                </div>

                                <hr class="my-4" />

                                <h5 class="card-title mb-3">Chọn phương thức thanh toán</h5>

                                <div class="row mb-3">
                                    <div class="col-lg-6 mb-2">
                                        <!-- Default checked radio -->
                                        <div class="form-check h-100 border rounded-3">
                                            <div class="p-3">
                                                <div class="p-3">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefaultPayment" id="cash" checked />
                                                    <label class="form-check-label" for="cash">
                                                        Cash <br />
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-2">
                                        <!-- Default radio -->
                                        <div class="form-check h-100 border rounded-3">
                                            <div class="p-3">
                                                <div class="p-3">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefaultPayment" id="momo" />
                                                    <label class="form-check-label" for="momo">
                                                        Momo
                                                        <br />
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="float-end">
                                    <button class="btn btn-light border">Cancel</button>
                                    <button class="btn btn-success shadow-0 border">Continue</button>
                                </div>
                            </div>
                        </div>
                        <!-- Checkout -->
                    </div>


                    <div class="col-xl-4 col-lg-4 d-flex justify-content-center justify-content-lg-end">
                        <div class="ms-lg-4 mt-4 mt-lg-0" style="max-width: 320px;">
                            <h6 class="mb-3">Thông tin đơn hàng</h6>
                            @{
                                if (Session["Cart"] != null)
                                {

                                    using (Html.BeginForm("UpdateCart", "Cart", FormMethod.Post))
                                    {
                                        <div class="d-flex justify-content-between">
                                            <p class="mb-2">Tạm tính:</p>
                                            @{
                                                List<CartModels> tam = (List<CartModels>)Session["Cart"];
                                                var total = String.Format("{0:N0}", tam.Sum(x => x.Quantity * x.Product.Price));
                                            }
                                            <p class="mb-2">@total&#8363;</p>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <p class="mb-2">Discount:</p>
                                            <p class="mb-2 text-danger">0</p>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <p class="mb-2">Phí ship:</p>
                                            <p class="mb-2">0</p>
                                        </div>
                                        <hr />
                                        <div class="d-flex justify-content-between">
                                            <p class="mb-2">Tổng tiền:</p>
                                            @{
                                                List<CartModels> temp = (List<CartModels>)Session["Cart"];
                                                var totalPrice = String.Format("{0:N0}", temp.Sum(x => x.Quantity * x.Product.Price));
                                            }
                                            <p class="mb-2 fw-bold"><strong>@totalPrice&#8363;</strong></p>
                                        </div>

                                        <div class="input-group mt-3 mb-4">
                                            <input type="text" class="form-control border" name="" placeholder="Promo code" />
                                            <button class="btn btn-light text-primary border">Apply</button>
                                        </div>

                                        <hr />

                                        <h6 class="text-dark my-4">QR MOMO</h6>
                                        <p class="mb-2">Quý khách khi đặt hàng vui lòng tick chọn MOMO ở phần phương thức thanh toán</p>
                                        var sum = totalPrice.Replace(",", "");
                                        var time = DateTime.Now;
                                        var text = "Thanh toan pasokon";

                                        // Nối các giá trị thành một chuỗi URL
                                        var qrCodeUrl = "https://api.qrserver.com/v1/create-qr-code/?size=320x320&data=" + "2|99|0968710856|0968710856||0|0|" + sum + "|" + text + "%20Total%20Amount:%20" + sum + "%20Time:%20" + time.ToString("yyyy-MM-dd HH:mm:ss") + "|transfer_myqr";
                                        <!-- Sử dụng chuỗi URL đã nối trong thẻ <img> -->
                                        <img src="@qrCodeUrl" alt="Alternate Text" />

                                        <hr />

                                        <h6 class="text-dark my-4">Sản phẩm</h6>

                                        foreach (var cart in (List<CartModels>)Session["Cart"])
                                        {
                                            <div class="d-flex align-items-center mb-4">
                                                <div class="me-3 position-relative">
                                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-secondary">
                                                        @cart.Quantity
                                                    </span>
                                                    <img src="@Url.Content(cart.Product.ImageURL)" style="height: 96px; width: 96x;" class="img-sm rounded border" />
                                                </div>
                                                <div class="">
                                                    <a href="@Url.Action("Details", "Product", new { id = cart.Product.ProductID })" class="nav-link">
                                                        @cart.Product.ProductName
                                                    </a>
                                                    <div class="price text-muted">Giá: @(String.Format("{0:N0}", (cart.Product.Price * cart.Quantity)))&#8363;</div>
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                                else
                                {
                                    <h4> Không có sản phẩm nào trong giỏ hàng!!! </h4>
                                }
                            }
                        </div>
                    </div>
                </div>
            }
            else
            {
                <h4>Vui lòng <a href="@Url.Action("LogIn", "Account")"><strong>đăng nhập</strong></a> trước khi thanh toán</h4>
            }
        </div>
    </section>
}

<script type="text/javascript">

    $('#flexRadioDefault1,#flexRadioDefault2').on('click', function (e) {
        e.stopPropagation();
        var targetBox = $("#" + $(this).attr("value"));
        $(".htnh").not(targetBox).hide();
        $(targetBox).show();
    });

    $("#customer-form").validate({
        rules: {
            firstName: {
                required: true
            },
            lastName: {
                required: true
            },
            phone: {
                required: true
            },
            email: {
                required: true
            },
            address: {
                required: true
            }
        }
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var momoRadio = document.getElementById("momo");
        momoRadio.addEventListener("change", function () {
            if (momoRadio.checked) {
                document.getElementById("momoSelected").value = "true";
            } else {
                document.getElementById("momoSelected").value = "false";
            }
        });
    });
</script>